################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WLSPL_CRM2
/WLSPL_CRM/obj/Debug/net8.0
/WLSPL_CRM/bin/Debug/net8.0/WLSPL_CRM 2.dll
/WLSPL_CRM/bin/Debug/net8.0/WLSPL_CRM 2.exe
/WLSPL_CRM/bin/Debug/net8.0/WLSPL_CRM 2.pdb
/WLSPL_CRM/bin/Debug/net8.0/WLSPL_CRM 2.staticwebassets.endpoints.json
/WLSPL_CRM/bin/Debug/net8.0/WLSPL_CRM 2.staticwebassets.runtime.json
/WLSPL_CRM/obj/Debug/net8.0/ref/WLSPL_CRM 2.dll
/WLSPL_CRM/obj/Debug/net8.0/refint/WLSPL_CRM 2.dll
/WLSPL_CRM/obj/Debug/net8.0/apphost.exe
/WLSPL_CRM/obj/Debug/net8.0/rjimswa.dswa.cache.json
/WLSPL_CRM/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/WLSPL_CRM/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/WLSPL_CRM/obj/Debug/net8.0/rpswa.dswa.cache.json
/WLSPL_CRM/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/WLSPL_CRM/obj/Debug/net8.0/staticwebassets.build.json
/WLSPL_CRM/obj/Debug/net8.0/staticwebassets.build.json.cache
/WLSPL_CRM/obj/Debug/net8.0/staticwebassets.development.json
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.AssemblyInfo.cs
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.AssemblyInfoInputs.cache
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.assets.cache
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.csproj.FileListAbsolute.txt
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.dll
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.GeneratedMSBuildEditorConfig.editorconfig
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.genruntimeconfig.cache
/WLSPL_CRM/obj/Debug/net8.0/WLSPL_CRM 2.pdb
/WLSPL_CRM/obj/project.assets.json
/WLSPL_CRM/obj/project.nuget.cache
/WLSPL_CRM/obj/WLSPL_CRM 2.csproj.nuget.dgspec.json
/WLSPL_CRM/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/.vs/ProjectEvaluation
