################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WLSPL_CRM2
/WLSPL_CRM/obj/Debug/net8.0
