@model (WLSPL_CRM_2.Models.RegisterUser, WLSPL_CRM_2.Models.ForgetPasswordMaster)
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-startbar="light" data-bs-theme="light">


<!-- Mirrored from mannatthemes.com/rizz/default/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Oct 2024 09:37:50 GMT -->
<head>


	<meta charset="utf-8" />
	<title>Rizz | Rizz - Admin & Dashboard Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="" name="author" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- App favicon -->
	<link rel="shortcut icon" href="~/assets/images/favicon.ico">


	<!-- App css -->
	<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

	<script>
		function toggleNewPassword() {
			const passwordInput = document.getElementById("NewPassword");
			passwordInput.type = passwordInput.type === "password" ? "text" : "password";
		}

		function toggleConfirmPassword() {
			const passwordInput = document.getElementById("ConfirmPassword");
			passwordInput.type = passwordInput.type === "password" ? "text" : "password";
		}
	</script>


</head>
<body>
	<div class="container-xxl">
		<div class="row vh-100 d-flex justify-content-center">
			<div class="col-12 align-self-center">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-4 mx-auto">
							<div class="card">
								<div class="card-body p-0 bg-black auth-header-box rounded-top">
									<div class="text-center p-3">
										<a href="index.html" class="logo logo-admin">
											<img src="~/assets/images/WLSPL_MAIN_LOGO.png" height="50" alt="logo" class="auth-logo">
										</a>
									</div>
								</div>
								<div class="card-body pt-0">
									@if (string.IsNullOrEmpty(Model.Item2.userMail))
									{
										<form class="my-4" enctype="multipart/form-data" asp-action="Forgetpassword" method="post">
											<div class="form-group mb-2">
												<label class="form-label" for="username">Username</label>
												<input type="text" class="form-control" id="UserName" name="UserName" asp-for="Item1.UserName" placeholder="Enter username">
											</div><!--end form-group-->
											<div class="form-group mb-2">
												<label class="form-label" for="username">Email</label>
												<input type="text" class="form-control" id="Email_ID" name="Email_ID" asp-for="Item1.EmailId" placeholder="Enter Registerd Email">
											</div><!--end form-group-->

											<div class="form-group mb-0 row">
												<div class="col-12">
													<div class="d-grid mt-3">
														<input type="submit" class="btn btn-primary" value="Get OTP">
													</div>
												</div><!--end col-->
											</div> <!--end form-group-->
										</form>

										<!--end form-->
									}
									else
									{
										<form class="my-4" enctype="multipart/form-data" asp-action="SetPassword" method="post">
											<div class="form-group mb-2">
												<label class="form-label" for="username">Email</label>
												<input type="text" class="form-control" id="userMail" name="userMail" asp-for="Item2.userMail" readonly="true">
												<input type="hidden" class="form-control" id="userId" name="userId" asp-for="Item2.userId">
											</div><!--end form-group-->
											<div class="form-group mb-2">
												<label class="form-label" for="username">OTP</label>
												<input type="text" class="form-control" id="Tempotp" name="Tempotp" asp-for="Item2.Tempotp" placeholder="Enter OTP" onblur="CheckValue()" maxlength="6">
											</div><!--end form-group-->
											<!-- New Password Field -->
											<div class="form-group mb-2">
												<label class="form-label" for="NewPassword">New Password</label>
												<input type="password" class="form-control" id="NewPassword" name="NewPassword" asp-for="Item2.NewPassword" placeholder="Enter New password" readonly="true">
												<div class="form-check mt-2" style="font-size: smaller;">
													<input type="checkbox" class="form-check-input" id="showPassword" onclick="toggleNewPassword()">
													<label class="form-check-label" for="showPassword">Show Password</label>
												</div>
											</div><!--end form-group-->

											<!-- Confirm Password Field -->
											<div class="form-group mb-2">
												<label class="form-label" for="ConfirmPassword">Confirm Password</label>
												<input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" asp-for="Item2.ConfirmPassword" placeholder="Enter Confirm Password" readonly="true">
												<div class="form-check mt-2" style="font-size: smaller;">
													<input type="checkbox" class="form-check-input" id="showPassword1" onclick="toggleConfirmPassword()">
													<label class="form-check-label" for="showPassword1">Show Password</label>
												</div>
											</div><!--end form-group-->


											<div class="form-group mb-0 row">
												<div class="col-12">
													<div class="d-grid mt-3">
														<input type="submit" class="btn btn-primary" value="Save Password">
													</div>
												</div><!--end col-->
											</div> <!--end form-group-->
										</form>
										<!--end form-->
									}
									<div class="text-center  mb-2">
										<p class="text-muted">
											Back To Login ?
											<a asp-controller="Login" asp-action="Index" class="text-primary ms-2">Login</a>
									</div>
									<div class="d-flex justify-content-center">
										<a href="#" class="d-flex justify-content-center align-items-center thumb-md bg-blue-subtle text-blue rounded-circle me-2">
											<i class="fab fa-facebook align-self-center"></i>
										</a>
										<a href="#" class="d-flex justify-content-center align-items-center thumb-md bg-info-subtle text-info rounded-circle me-2">
											<i class="fab fa-twitter align-self-center"></i>
										</a>
										<a href="#" class="d-flex justify-content-center align-items-center thumb-md bg-danger-subtle text-danger rounded-circle">
											<i class="fab fa-google align-self-center"></i>
										</a>
									</div>
								</div><!--end card-body-->
							</div><!--end card-->
						</div><!--end col-->
					</div><!--end row-->
				</div><!--end card-body-->
			</div><!--end col-->
		</div><!--end row-->
	</div><!-- container -->
	<script type="text/javascript">
		function CheckValue() {
			var OTPVal = document.getElementById("Tempotp");
			var NewPass = document.getElementById("NewPassword");
			var ConPass = document.getElementById("ConfirmPassword");

			if (OTPVal.value.length === 6) {
				NewPass.removeAttribute("readonly");
				ConPass.removeAttribute("readonly");
			} else {
				NewPass.setAttribute("readonly", true);
				ConPass.setAttribute("readonly", true);
			}
		}
	</script>
</body>
</html>
